@model Backbone.ConsumerApi.Controllers.Onboarding.AppOnboardingModel

@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Onboarding</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const link = document.getElementById('inAppLink');
            let clickString = "location.href='" + window.location.toString().replace(/^(https)|(http)/, "@Model.AppId") + "';";
            console.log(clickString);
            link.setAttribute('onclick', clickString);
        });
    </script>

    <style>
        body {
            background-color: @Model.BackgroundColor;
        }

        .info-box {
            background-color: @Model.SecondaryColor;
        }

        .step-box {
            background-color: @Model.PrimaryColor;
        }

        #app-install-step {
            flex-direction: @(Model.Links.Count(l => !string.IsNullOrEmpty(l.Link)) > 1 ? "column" : "row");
            justify-content: space-between;
        }

        .banner {
            padding: 1rem;
        }

        .banner img {
            width: 100%;
            margin-bottom: 0.5rem;
        }

        .step-box .store-button {
            height: 40px;
        }

        .app-store-button {
            display: flex;
            align-self: center;
            height: 40px;
        }

        .app-store-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;
            height: 40px;
        }

        .app-icon {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 20%;
        }
    </style>

    <link rel="stylesheet" href="~/Style/Style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="vertical-spacer"></div>
<div class="container">
    <div class="banner-box">
        <div class="banner">
            <img
                src="@Model.BannerUrl"
                alt="@Model.AppDisplayName Logo" />
        </div>
    </div>

    <div class="info-box">
        <p>
            Sie haben einen QR-Code der @Model.AppDisplayName-Plattform gescannt.
            Um fortfahren zu können laden Sie die @Model.AppDisplayName-App auf Ihr Gerät.
        </p>
    </div>
    <div class="step-box" id="app-install-step">
        <div class="step-content">
            <p>1.</p>
            <p>Laden Sie die @Model.AppDisplayName-App aus dem @Model.AppStoreDescriptor.</p>
        </div>
        <div
            class="@(Model.Links.Count(l => !string.IsNullOrEmpty(l.Link)) > 1 ? "app-store-buttons" : "app-store-button")">
            @foreach (var appStore in Model.Links)
            {
                if (string.IsNullOrEmpty(appStore.Link))
                {
                    <p>@appStore.NoLinkText</p>
                }
                else
                {
                    <div>
                        <a href="@appStore.Link" target="_blank">
                            <img
                                class="store-button"
                                src="@appStore.StoreButtonUrl"
                                alt="@appStore.StoreName"
                                onclick="document.getElementById('app-install-step').style.backgroundColor ='@Model.SecondaryColor';" />
                        </a>
                    </div>
                }
            }
        </div>
    </div>

    <div class="step-box" id="inAppLink" onclick="" style="cursor: pointer;">
        <div class="step-content">
            <p>2.</p>
            <p>Klicken Sie anschließend hier, um die App mit Ihrem Code zu starten.</p>
        </div>
        <img
            src="@Model.AppIconUrl"
            alt="App starten" class="app-icon" />
    </div>
</div>
<div class="vertical-spacer"></div>
</body>
