@model Backbone.ConsumerApi.Controllers.Onboarding.AppOnboardingModel

@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Onboarding</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const link = document.getElementById('inAppLink');
            let clickString = "location.href='" + window.location.toString().replace(/^(https)|(http)/, "@Model.AppId") + "';";
            console.log(clickString);
            link.setAttribute('onclick', clickString);
        });
    </script>

    <style>
        body {
            background-color: @Model.BackgroundColor;
        }

        .info-box {
            background-color: @Model.SecondaryColor;
        }

        .step-box {
            background-color: @Model.PrimaryColor;
        }

        #app-install-step {
            flex-direction: @(Model.Links.Count(l => !string.IsNullOrEmpty(l.Link)) > 1 ? "column" : "row");
            justify-content: space-between;
        }
    </style>

    <link rel="stylesheet" href="~/Style/Style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="vertical-spacer"></div>
<div class="container">
    <div class="banner-box">
        <div class="banner">
            <img
                src="@Model.BannerUrl"
                alt="@Model.AppDisplayName Logo" />
        </div>
    </div>

    <div class="info-box">
        <p class="info-text">
            Sie haben einen QR-Code der @Model.AppDisplayName-Plattform gescannt.
            Um fortfahren zu können laden Sie die @Model.AppDisplayName-App auf Ihr Gerät.
        </p>
    </div>
    <div class="step-box" id="app-install-step">
        <div class="step-content">
            <p class="step-text">1.</p>
            <p class="step-description">Laden Sie die @Model.AppDisplayName-App aus dem @Model.AppStoreDescriptor.</p>
        </div>
        <div
            class="app-store-buttons @(Model.Links.Count(l => !string.IsNullOrEmpty(l.Link)) > 1 ? "multi-button" : "")">
            @foreach (var appStore in Model.Links)
            {
                if (string.IsNullOrEmpty(appStore.Link))
                {
                    <p>@appStore.NoLinkText</p>
                }
                else
                {
                    <div class="app-store-button">
                        <a href="@appStore.Link" target="_blank">
                            <img
                                src="@appStore.StoreButtonUrl"
                                alt="@appStore.StoreName"
                                onclick="document.getElementById('app-install-step').style.backgroundColor ='@Model.SecondaryColor';" />
                        </a>
                    </div>
                }
            }
        </div>
    </div>

    <div class="step-box" id="inAppLink" onclick="" style="cursor: pointer;">
        <div class="step-content">
            <p class="step-text">2.</p>
            <p class="step-text">Klicken Sie anschließend hier, um die App mit Ihrem Code zu starten.</p>
        </div>
        <img
            src="@Model.AppIconUrl"
            alt="App starten" class="app-icon" />
    </div>
</div>
<div class="vertical-spacer"></div>
</body>
