@model Backbone.ConsumerApi.Controllers.Onboarding.AppSelectionModel

@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Onboarding</title>
    <link rel="stylesheet" href="~/Style/Style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @foreach (var app in Model.Apps)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const link = document.getElementById('linkTo@(app.Id)');
                const queryString = new URLSearchParams(window.location.search);
                queryString.set('app', '@app.Id');
                console.log(window.location.origin + window.location.pathname + "?" + queryString.toString() + window.location.hash);
                let clickString = "location.href='" + window.location.origin + window.location.pathname + "?" + queryString.toString() + window.location.hash + "';";
                link.setAttribute('onclick', clickString);
            });
        </script>
    }
    <style>
        body {
            background-color: @Model.Apps[0].BackgroundColor;
        }

        .info-box {
            background-color: @Model.Apps[0].SecondaryColor;
        }

        .step-box {
            background-color: @Model.Apps[0].PrimaryColor;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .step-content {
            width: 70%;
        }

        img {
            align-self: flex-end;
        }
    </style>
</head>
<body>
<div class="vertical-spacer"></div>
<div class="container">
    <div class="info-box">
        <p class="info-text">
            Bitte wählen Sie die von Ihrem Anbieter angegebene App aus und installieren Sie sie.
        </p>
    </div>
    @foreach (var app in Model.Apps)
    {
        <div class="step-box" id="linkTo@(app.Id)">
            <div class="step-content">
                <p class="step-text">@app.DisplayName installieren</p>
            </div>
            <img
                src="@app.AppIconUrl"
                alt="Zur App Installation" class="app-icon" />
        </div>
    }
</div>
<div class="vertical-spacer"></div>
</body>

